/*body * {
    box-sizing: border-box;
}

body {
    font-family: Comic Sans, Helvetica, sans-serif;
}*/

.picture {
    background-image: url(https://images6.alphacoders.com/118/thumb-1920-1188254.jpg);
    background-size: 500px;
    width: 500px;
    height: 270px;
}

h2 {
    box-sizing: border-box;
    border: solid 1px #CCC; 
    width: 500px;
    height: 50px;   
    padding-top: 10px;
    padding-left: 20px;
    margin: 0px;
}

.bottom {
    box-sizing: border-box;
    border: solid 1px #CCC; 
    width: 500px;
    height: 150px;   
    padding: 15px;
    margin: 0px;
}


/*
Add some style blocks below this line to style the card.
*/